In [10]:
import pandas as pd
import numpy as np

Here we will load the data from a raw CSV file.

In [11]:
df = pd.read_csv("comprehensive-data.csv")
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,Team,Week,Day,Date,NaN,NaN,NaN,OT,Rec,NaN,...,TO_off,1stD_def,TotYd_def,PassY_def,RushY_def,TO_def,Offense_exp,Defense_exp,Sp. Tms_exp,NaN
1,Bills,1,Thu,8-Sep,8:20PM ET,boxscore,W,NaN,Jan-00,@,...,4,19,243,191,52,3,13.89,10.29,-3.96,NaN
2,Bills,2,Mon,19-Sep,7:15PM ET,boxscore,W,NaN,Feb-00,NaN,...,NaN,12,187,107,80,4,17.69,18.01,1.55,NaN
3,Bills,3,Sun,25-Sep,1:00PM ET,boxscore,L,NaN,1-Feb,@,...,1,15,212,171,41,NaN,15.88,-7.45,-4.86,NaN
4,Bills,4,Sun,2-Oct,1:00PM ET,boxscore,W,NaN,1-Mar,@,...,2,22,296,134,162,2,2.1,2.66,-1.69,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,Chiefs,14,Sun,11-Dec,8:20PM ET,preview,NaN,NaN,NaN,@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,Chiefs,15,Sun,18-Dec,1:00PM ET,preview,NaN,NaN,NaN,@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,Chiefs,16,Sat,24-Dec,1:00PM ET,preview,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Chiefs,17,Sun,1-Jan,1:00PM ET,preview,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Chiefs,18,Sun,8-Jan,1:00PM ET,preview,NaN,NaN,NaN,@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

I will replace the first row as the header:

In [12]:
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 1 to 84
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Team         84 non-null     object
 1   Week         84 non-null     object
 2   Day          80 non-null     object
 3   Date         80 non-null     object
 4   nan          80 non-null     object
 5   nan          80 non-null     object
 6   nan          56 non-null     object
 7   OT           3 non-null      object
 8   Rec          56 non-null     object
 9   nan          41 non-null     object
 10  Opp          84 non-null     object
 11  Tm_Score     56 non-null     object
 12  Opp_Score    56 non-null     object
 13  1stD_off     56 non-null     object
 14  TotYd_off    56 non-null     object
 15  PassY_off    56 non-null     object
 16  RushY_off    56 non-null     object
 17  TO_off       40 non-null     object
 18  1stD_def     56 non-null     object
 19  TotYd_def    56 non-null     object
 20  PassY_def    56 non-null     object
 21  RushY_def    56 non-null     object
 22  TO_def       42 non-null     object
 23  Offense_exp  56 non-null     object
 24  Defense_exp  56 non-null     object
 25  Sp. Tms_exp  56 non-null     object
 26  nan          0 non-null      float64
dtypes: float64(1), object(26)
memory usage: 17.8+ KB

Some of these columns are not needed.

In [14]:
df = df.drop(df.columns[[2, 3,4,5,6,9,26]], axis=1)

In [15]:
df.head(30)

,Team,Week,OT,Rec,Opp,Tm_Score,Opp_Score,1stD_off,TotYd_off,PassY_off,RushY_off,TO_off,1stD_def,TotYd_def,PassY_def,RushY_def,TO_def,Offense_exp,Defense_exp,Sp. Tms_exp
1,Bills,1,NaN,Jan-00,Los Angeles Rams,31,10,23,413,292,121,4,19,243,191,52,3,13.89,10.29,-3.96
2,Bills,2,NaN,Feb-00,Tennessee Titans,41,7,23,414,313,101,NaN,12,187,107,80,4,17.69,18.01,1.55
3,Bills,3,NaN,1-Feb,Miami Dolphins,19,21,31,497,382,115,1,15,212,171,41,NaN,15.88,-7.45,-4.86
4,Bills,4,NaN,1-Mar,Baltimore Ravens,23,20,22,326,201,125,2,22,296,134,162,2,2.1,2.66,-1.69
5,Bills,5,NaN,1-Apr,Pittsburgh Steelers,38,3,21,552,432,120,2,23,364,310,54,2,20.66,9.42,3.54
6,Bills,6,NaN,1-May,Kansas City Chiefs,24,20,26,443,318,125,1,23,387,319,68,2,11.13,-6.45,0.56
7,Bills,8,NaN,1-Jun,Green Bay Packers,27,17,20,369,216,153,2,21,398,190,208,1,12.79,-5.55,4.01
8,Bills,9,NaN,2-Jun,New York Jets,17,20,19,317,183,134,2,21,310,136,174,1,0.54,-7.64,2.11
9,Bills,10,OT,3-Jun,Minnesota Vikings,30,33,29,486,311,175,4,24,481,334,147,2,1.45,-4.8,-0.39
10,Bills,11,NaN,3-Jul,Cleveland Browns,31,23,22,357,186,171,NaN,27,396,316,80,1,6,-10.86,13.72
11,Bills,12,NaN,3-Aug,Detroit Lions,28,25,28,401,237,164,1,22,326,230,96,2,16.07,-12.71,-3.07
12,Bills,13,NaN,3-Sep,New England Patriots,24,10,22,355,223,132,1,14,242,182,60,NaN,9.5,1.41,3.26
13,Dolphins,1,NaN,Jan-00,New England Patriots,20,7,18,307,242,65,NaN,17,271,193,78,3,6.08,8.28,1.98
14,Dolphins,2,NaN,Feb-00,Baltimore Ravens,42,38,27,547,461,86,2,23,473,318,155,NaN,32,-20.31,-7.09
15,Dolphins,3,NaN,Mar-00,Buffalo Bills,21,19,15,212,171,41,NaN,31,497,382,115,1,7.45,-15.88,4.86
16,Dolphins,4,NaN,1-Mar,Cincinnati Bengals,15,27,20,378,293,85,2,16,371,304,67,NaN,0.48,-9.11,-3.73
17,Dolphins,5,NaN,2-Mar,New York Jets,17,40,19,295,158,137,2,21,322,187,135,NaN,-6.15,-11.86,-3.66
18,Dolphins,6,NaN,3-Mar,Minnesota Vikings,16,24,23,458,385,73,3,11,234,156,78,NaN,-8.38,4.43,-4.75
19,Dolphins,7,NaN,3-Apr,Pittsburgh Steelers,16,10,17,372,261,111,NaN,19,341,246,95,3,0.04,6.72,-2.49
20,Dolphins,8,NaN,3-May,Detroit Lions,31,27,27,476,369,107,1,22,393,311,82,NaN,25.47,-19.14,-0.59
21,Dolphins,9,NaN,3-Jun,Chicago Bears,35,32,21,379,302,77,NaN,23,368,116,252,NaN,19.83,-17.18,2.01
22,Dolphins,10,NaN,3-Jul,Cleveland Browns,39,17,29,491,296,195,NaN,20,297,185,112,1,28.5,1.04,-4.93
23,Dolphins,11,NaN,NaN,Bye Week,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Dolphins,12,NaN,3-Aug,Houston Texans,30,15,25,339,273,66,1,14,210,174,36,3,-1.9,22.74,-3.97
25,Dolphins,13,NaN,NaN,San Francisco 49ers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Dolphins,14,NaN,NaN,Los Angeles Chargers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Dolphins,15,NaN,NaN,Buffalo Bills,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Dolphins,16,NaN,NaN,Green Bay Packers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Dolphins,17,NaN,NaN,New England Patriots,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Dolphins,18,NaN,NaN,New York Jets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Below, I will be deleting the games that have not been played yet and have NaN scores.

In [16]:
df = df[df['Tm_Score'].notna()]

In [20]:
df.head(30)

,Team,Week,OT,Rec,Opp,Tm_Score,Opp_Score,1stD_off,TotYd_off,PassY_off,RushY_off,TO_off,1stD_def,TotYd_def,PassY_def,RushY_def,TO_def,Offense_exp,Defense_exp,Sp. Tms_exp
1,Bills,1,NaN,Jan-00,Los Angeles Rams,31,10,23,413,292,121,4,19,243,191,52,3,13.89,10.29,-3.96
2,Bills,2,NaN,Feb-00,Tennessee Titans,41,7,23,414,313,101,NaN,12,187,107,80,4,17.69,18.01,1.55
3,Bills,3,NaN,1-Feb,Miami Dolphins,19,21,31,497,382,115,1,15,212,171,41,NaN,15.88,-7.45,-4.86
4,Bills,4,NaN,1-Mar,Baltimore Ravens,23,20,22,326,201,125,2,22,296,134,162,2,2.1,2.66,-1.69
5,Bills,5,NaN,1-Apr,Pittsburgh Steelers,38,3,21,552,432,120,2,23,364,310,54,2,20.66,9.42,3.54
6,Bills,6,NaN,1-May,Kansas City Chiefs,24,20,26,443,318,125,1,23,387,319,68,2,11.13,-6.45,0.56
7,Bills,8,NaN,1-Jun,Green Bay Packers,27,17,20,369,216,153,2,21,398,190,208,1,12.79,-5.55,4.01
8,Bills,9,NaN,2-Jun,New York Jets,17,20,19,317,183,134,2,21,310,136,174,1,0.54,-7.64,2.11
9,Bills,10,OT,3-Jun,Minnesota Vikings,30,33,29,486,311,175,4,24,481,334,147,2,1.45,-4.8,-0.39
10,Bills,11,NaN,3-Jul,Cleveland Browns,31,23,22,357,186,171,NaN,27,396,316,80,1,6,-10.86,13.72
11,Bills,12,NaN,3-Aug,Detroit Lions,28,25,28,401,237,164,1,22,326,230,96,2,16.07,-12.71,-3.07
12,Bills,13,NaN,3-Sep,New England Patriots,24,10,22,355,223,132,1,14,242,182,60,NaN,9.5,1.41,3.26
13,Dolphins,1,NaN,Jan-00,New England Patriots,20,7,18,307,242,65,NaN,17,271,193,78,3,6.08,8.28,1.98
14,Dolphins,2,NaN,Feb-00,Baltimore Ravens,42,38,27,547,461,86,2,23,473,318,155,NaN,32,-20.31,-7.09
15,Dolphins,3,NaN,Mar-00,Buffalo Bills,21,19,15,212,171,41,NaN,31,497,382,115,1,7.45,-15.88,4.86
16,Dolphins,4,NaN,1-Mar,Cincinnati Bengals,15,27,20,378,293,85,2,16,371,304,67,NaN,0.48,-9.11,-3.73
17,Dolphins,5,NaN,2-Mar,New York Jets,17,40,19,295,158,137,2,21,322,187,135,NaN,-6.15,-11.86,-3.66
18,Dolphins,6,NaN,3-Mar,Minnesota Vikings,16,24,23,458,385,73,3,11,234,156,78,NaN,-8.38,4.43,-4.75
19,Dolphins,7,NaN,3-Apr,Pittsburgh Steelers,16,10,17,372,261,111,NaN,19,341,246,95,3,0.04,6.72,-2.49
20,Dolphins,8,NaN,3-May,Detroit Lions,31,27,27,476,369,107,1,22,393,311,82,NaN,25.47,-19.14,-0.59
21,Dolphins,9,NaN,3-Jun,Chicago Bears,35,32,21,379,302,77,NaN,23,368,116,252,NaN,19.83,-17.18,2.01
22,Dolphins,10,NaN,3-Jul,Cleveland Browns,39,17,29,491,296,195,NaN,20,297,185,112,1,28.5,1.04,-4.93
24,Dolphins,12,NaN,3-Aug,Houston Texans,30,15,25,339,273,66,1,14,210,174,36,3,-1.9,22.74,-3.97
31,Eagles,1,NaN,Jan-00,Detroit Lions,38,35,27,455,239,216,NaN,23,386,205,181,1,21.15,-15.67,-0.78
32,Eagles,2,NaN,Feb-00,Minnesota Vikings,24,7,25,486,323,163,1,20,264,202,62,3,14.26,7.86,-7.37
33,Eagles,3,NaN,Mar-00,Washington Commanders,24,8,21,400,328,72,NaN,20,240,153,87,1,9.65,18.29,-8.92
34,Eagles,4,NaN,Apr-00,Jacksonville Jaguars,29,21,25,401,191,210,1,13,219,148,71,4,-0.18,11.06,-1.97
35,Eagles,5,NaN,May-00,Arizona Cardinals,20,17,24,357,218,139,NaN,23,363,239,124,1,10.63,-12.33,5.16
36,Eagles,6,NaN,Jun-00,Dallas Cowboys,26,17,22,268,132,136,NaN,21,315,181,134,3,7.95,0.04,3.76
38,Eagles,8,NaN,Jul-00,Pittsburgh Steelers,35,13,20,401,290,111,NaN,21,302,158,144,2,23.31,4.96,-2.01

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56 entries, 1 to 78
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Team         56 non-null     object
 1   Week         56 non-null     object
 2   OT           3 non-null      object
 3   Rec          56 non-null     object
 4   Opp          56 non-null     object
 5   Tm_Score     56 non-null     object
 6   Opp_Score    56 non-null     object
 7   1stD_off     56 non-null     object
 8   TotYd_off    56 non-null     object
 9   PassY_off    56 non-null     object
 10  RushY_off    56 non-null     object
 11  TO_off       40 non-null     object
 12  1stD_def     56 non-null     object
 13  TotYd_def    56 non-null     object
 14  PassY_def    56 non-null     object
 15  RushY_def    56 non-null     object
 16  TO_def       42 non-null     object
 17  Offense_exp  56 non-null     object
 18  Defense_exp  56 non-null     object
 19  Sp. Tms_exp  56 non-null     object
dtypes: object(20)
memory usage: 9.2+ KB

The OT, or overtime column is not needed.

In [21]:
df = df.drop('OT', axis=1)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56 entries, 1 to 78
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Team         56 non-null     object
 1   Week         56 non-null     object
 2   Rec          56 non-null     object
 3   Opp          56 non-null     object
 4   Tm_Score     56 non-null     object
 5   Opp_Score    56 non-null     object
 6   1stD_off     56 non-null     object
 7   TotYd_off    56 non-null     object
 8   PassY_off    56 non-null     object
 9   RushY_off    56 non-null     object
 10  TO_off       40 non-null     object
 11  1stD_def     56 non-null     object
 12  TotYd_def    56 non-null     object
 13  PassY_def    56 non-null     object
 14  RushY_def    56 non-null     object
 15  TO_def       42 non-null     object
 16  Offense_exp  56 non-null     object
 17  Defense_exp  56 non-null     object
 18  Sp. Tms_exp  56 non-null     object
dtypes: object(19)
memory usage: 8.8+ KB

In [25]:
df.to_csv('comprehensive-data.csv')